:root {
  --white: #ffffff;
  --grey: #eeeeee;
  --black: #000000;
  --blue: #3594d4;

  --pink: #d86195;
  --secondary: #a6bfda;

  --light: #F8F8F8;
  --dark-blue: #404e90;
}

p,
label {
  color: var(--black);
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.text-blue {
  color: var(--blue) !important;
}

.text-pink {
  color: var(--pink) !important;
}

.text-dark-blue {
  color: var(--dark-blue) !important;
}

/*** Header ***/
#header .carousel,
#header .container-fluid {
  width: 100%;
  height: 100vh;
}

#header-carousel .carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .7);
  z-index: 1;
  width: 100%;
  height: 100vh;
}

#header-carousel .carousel-control-prev,
#header-carousel .carousel-control-next {
  width: 10%;
}

#header-carousel .carousel-control-prev-icon,
#header-carousel .carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

#header-carousel .carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#header-carousel .carousel-indicators [data-bs-target] {
  width: 60px;
  height: 60px;
  text-indent: 0;
  margin-bottom: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 60px;
  overflow: hidden;
}

#header-carousel .carousel-indicators [data-bs-target] img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
    position: relative;
    height: 100vh;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  #header-carousel .title-line-1 {
    font-size: 13px;
  }

  #header-carousel .title-name {
    font-size: 50px;
  }

  /*** Button ***/
  .btn {
    font-weight: 500;
    transition: .5s;
  }

  .btn.btn-blue {
    color: #FFFFFF;
  }

  .btn-square {
    width: 38px;
    height: 38px;
  }

  .btn-sm-square {
    width: 32px;
    height: 32px;
  }

  .btn-lg-square {
    width: 48px;
    height: 48px;
  }

  .btn-square,
  .btn-sm-square,
  .btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
  }

  .back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    background-color: var(--pink);
    border-color: var(--pink);
    cursor: pointer;
    border-radius: 50%;
  }

}

.circle-blue {
  border: 1px solid var(--blue) !important;
  padding: 10px;
  border-radius: 50%;
}

.all-wishes {
  overflow: hidden;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
}

.wishes-box {
  overflow-y: scroll;
  padding: 15px;
  width: 100%;
  max-height: 500px;
  background-color: #fff;
  z-index: 0;
  position: relative;
}

.blue-white-button a {
  display: inline-block;
  background-color: #fff;
  font-size: 12px;
  padding: 12px 18px;
  color: #121212;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  text-shadow: none;
}

.blue-white-button a:hover {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

@media (min-width: 992px) {
  .d-lg-flex {
    display: flex !important;
  }
}

.non-draggable {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}



/* Carousel Caption  */
.carousel-caption .line-1,
.carousel-caption .date {
  font-family: "Cinzel";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
  color: var(--white);
  text-transform: uppercase;
}

.carousel-caption .line-2 {
  font-family: "DancingScript";
  font-size: 80px;
  color: var(--white);
}

.carousel-caption .line-3 {
  font-family: "Niramit";
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
}

.carousel-caption .line-4 {
  font-family: "ProximaNova";
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
}

.carousel-caption .name {
  font-family: "Cinzel";
  font-weight: 600;
  font-size: 25px;
  color: var(--white);
}



/* Modal x  */

.modalx {
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(0);
}

.modalx-image {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2001;
  top: 0;
  opacity: 1;
  left: 0;
}

.modalx-content {
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2002;
  top: 10px;
  color: #fff;
  left: 0;
}

.modalx-content-info {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.modalx-content-info>* {
  width: 100%;
  text-align: center;
  height: auto;
}

.modalx-content-info .line-1,
.modalx-content-info .date {
  font-family: "Cinzel";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 5px;
  color: var(--black);
  text-transform: uppercase;
}

.modalx-content-info .line-2 {
  font-family: "DancingScript";
  font-size: 74px;
  color: var(--black);
}

.modalx-content-info .line-3 {
  font-family: "Cinzel";
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  letter-spacing: 1px;
}

.modalx-content-info .name {
  font-family: "Cinzel";
  font-weight: 600;
  font-size: 23px;
}

.modalx-content-info hr {
  border-top: 1px solid var(--black);
}

.btn.modalx-btn,
 #date-place .atcb-button {
  font-family: "Cinzel";
  font-weight: 300;
  text-transform: uppercase;
  padding: 15px 25px;
  box-shadow: none;
  margin: 0;
  font-size: 16px;
  color: var(--light);
  background: var(--background);
  border-radius: 10px;
  padding: 10px 25px;
  transition: .2s;
}

#date-place .atcb-text {
  font-family: "Cinzel";
  font-weight: 300;
}

.btn.modalx-btn:hover,
 #date-place .atcb-button:hover {
  background-color: var(--dark-blue);
  color: white;
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.btn.modalx-btn:focus:active,
 #date-place .atcb-button:focus:active {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

@media (max-width: 576px) {
  .modalx-logo {
    width: 70%;
    margin-bottom: 1.5rem;
  }

  #date-place .circle {
    width: 100px;
    height: 100px;
    border: 1px solid var(--blue);
  }

}

@media (min-width: 576px) {
  .modalx-logo {
    width: 50%;
    margin-bottom: 1.5rem;
  }

  #date-place .circle {
    width: 100px;
    height: 100px;
    border: 1px solid var(--blue);
  }
}

@media (min-width: 992px) {
  .modalx-logo {
    width: 30%;
    margin-bottom: 1.5rem;
  }

  #date-place .circle {
    width: 120px;
    height: 120px;
    border: 1px solid var(--blue);
  }
}

@media (min-width: 1400px) {
  .modalx-logo {
    width: 20%;
    margin-bottom: 1.5rem;
  }

  #date-place .circle {
    width: 155px;
    height: 155px;
    border: 1px solid var(--blue);
  }
}

/* Buttons  */
.ff-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  font-family: "Cinzel";
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 100rem;
}

.ff-btn-blue {
  color: var(--white);
  background-color: var(--blue);
  background-image: none;
  border-color: var(--blue);
}

#main-content .form-control,
#main-content .form-select {
  padding: 20px 20px;
  font-size: 16px;
  border-color: var(--dark-blue);
  color: var(--black);
}
#main-content .form-select {
  padding: 10px 20px;
}

#main-content .form-control:focus {
  color: var(--black);
  background-color: #fff;
  border-color: var(--pink);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(216 97 149 / 25%);
}